*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .App {
    display: flex;
    flex-direction: column;
    /* height: 100vh;
} */

/* header {
    padding: 30px;
    background: #5A7480;
}

.head svg {
    font-size: 40px;
} */




